@charset "UTF-8"; 

*{
    margin: 0;
    padding: 0;
}

/*estilos prontos para fontes usadas no site*/
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.style-script-regular {
  font-family: "Style Script", cursive;
  font-weight: 400;
  font-style: normal;
}
.passion-one-regular {
  font-family: "Passion One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.passion-one-bold {
  font-family: "Passion One", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.passion-one-black {
  font-family: "Passion One", sans-serif;
  font-weight: 900;
  font-style: normal;
}
.jim-nightshade-regular {
  font-family: "Jim Nightshade", cursive;
  font-weight: 700;
  font-style: normal;
}


body{
    background-color: rgb(185, 159, 71)
}

.container1 {
    display: grid;
    height: 100vh;
    grid-template-rows: 95% repeat(9, auto);
    grid-template-columns: repeat(4, auto);
    
}

.area1 {
    display: grid;
    background-image: url(../Imagens/logo\ barbearia.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed; /* aqui que faz o efeito parallax*/ 
    background-position: center;
    grid-area: 1/1/2/5;
    border: 3px solid black;
}

.menu{
    display: grid;
    grid-area: 2/1/2/5;
    background-color: rgba(0, 0, 0, 0.952);
}

ul{
    display: flex;
    list-style: none;
    gap: none;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 8px;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    background-color: grey;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}

.btn-menu{ /*entender melhor esse tipo de efeito e configuração depois*/
    display: inline-block;
    padding: 2px 5px;
    border-radius: 8px;

    background-color: transparent;
    border: 2px solid transparent;

    transition: all 0.3s ease;
}

main{
    width: 90%;
    background-color: white;
    height: 100%;
    margin: 10px auto;
    border-radius: 20px;   
}

.ibruno{
    font-family: "Jim Nightshade";
    font-weight: 700;
    font-size: 40px;
    font-style: normal;
    text-align: center;
    background-color: rgba(185, 158, 71, 0.651);
}

.area2{ 
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 10px;
}

#apresentacao{
    font-family:'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: 500;
    padding: 10px;
}

  /*Preciso que essa imagem em telas maiores não vaze demais em cima*/
#imgbruno{
    max-width: 90%;
    max-height: 60%;
    justify-self: center;
    border-radius: 200px;
    
    
}

#imgbruno:hover{
    transform: scale(1.05);
}

.area3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.area3 img {
    width: 100%;
    height: auto;
}


.card-servico {
     font-family: "Jim Nightshade";
    font-weight: 600;
    font-size: 20px;
    font-style: normal;
    text-align: center;
}
.card-servico img{
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    border-radius: 50px;
    transition: 0.3s;
    padding-top: 10px;
    
   
    
}

.card-servico img:hover{
    transform: scale(1.05);
}
.area4 {
    width: 100%;
    max-width: 800px;
    margin: 40px auto;
    padding-bottom: 20px;
}

.swiper {
    width: 100%;
    height: 250px;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.contato{
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin: 0;
    font-family: "Jim Nightshade";
    font-weight: 600;
    font-size: 40px;
    font-style: normal;
    text-align: center;
    background-color: rgb(0, 0, 0);
    width: 100%;
    color: white;
}

.btn-contatos{
     font-weight: 400;
    font-size: 30px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 1px 1px black;
    box-sizing: border-box;
}

.btn-contatos:hover{
    border: 2px solid white;
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px black;
    
}

.btn-whatsapp{
    width: 40px;
}

.btn-instagram{
    width: 40px;
}



