@charset "UTF-8";

html, body {
    margin: 0;
    padding: 0;
    
}

body {
    font-family: "Style Script";

}

header {
    background-color: black;
    color: white;
    font-family: "Passion One";
    text-align: center;
    margin: 0;
    padding-top: 25px;
    height: 20vh;
}

nav>a:hover{
    color: white;
    text-decoration: none;
}

.img1 {
    background-image: url(background001.jpg);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;


}

.img2 {
    background-image: url(background002.jpg);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.cont {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 250px;
    padding: 6px 6px ;
    

}


header h1 {
    margin: 0;
    padding: 8px;
    font-variant: small-caps;
    font-size: 50px;
}

h2 {
    margin: 0;
    padding: 8px;
    font-size: 15px;
    line-height: 1;

}

p {
    padding: 10px;
    line-height: 2;
    font-family: "Style Script";
    font-size: 25px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    margin: 0;

}

footer>p {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left:30px;
}

