@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #f4f4f4;
}

/* GRID PRINCIPAL */
.container {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 80px 1fr 60px;

  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";

  height: 100vh;
}

/* ÁREAS */
.header {
  grid-area: header;
  background: #1e1e2f;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.sidebar {
  grid-area: sidebar;
  background: #2d2d44;
  color: white;
  padding: 20px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  margin-bottom: 10px;
  cursor: pointer;
}

.main {
  grid-area: main;
  padding: 20px;
}

.footer {
  grid-area: footer;
  background: #1e1e2f;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* GRID DENTRO DO MAIN */
.cards {
  margin-top: 20px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

/* CARDS */
.card {
  background: white;
  padding: 20px;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;

  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}